<script>
$(document).ready(function()
      {
        $('#note_group_ids').select2(
          {
            minimumInputLength: 1,
            placeholder: "グループを選択してください"
          }
        );
      }
);
</script>

<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "") %> 個のエラーがありました:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h3><%= f.label :date %></h3>
      <%= DateTime.now.strftime('%Y-%m-%d') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><%= f.label :title %></h3>
      <%= f.text_field :title, class: "form-control"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3><%= f.label :body %></h3><br>
      <%= f.cktext_area :body %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3><%= f.label :グループ %></h3>
      <% @options = User.find(current_user.id).groups.collect{|g| [g.name, g.id]}.insert(0, "ノートを作成するグループを選択してください") %>
      <%= f.select :group_ids, @options, {}, :multiple => "true", class: "form-control" %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-6">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<head>
  <title>Pusher Test</title>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">

    var pusher = new Pusher('be77e6f1a3890641c69f');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      //document.getElementById("note_title").value = data;
      document.getElementsByTagName('iframe')[0].contentWindow.document.body.innerHTML = data;

      var ifr = document.getElementsByTagName('iframe')[0];
      var idoc = ifr.contentDocument;
      var ibody = ifr.contentDocument.body;
      
      var sel = idoc.getSelection();
      var range = sel.getRangeAt(0);
      range.setStart(ibody, 1);
      range.setEnd(ibody, 1);
      sel.removeAllRanges();
      sel.addRange(range);
    });
  </script>
</head>
<script type="text/javascript">
  $(function(){
    var pusher  = new Pusher("<%= 'pusher-key' %>");
    var channel = pusher.subscribe("test_channel");
    channel.bind("my_event", function(html) {
      $("ul").prepend(html);
    });
  });

    //var i = 0;
    //$(document).ready(function(){
      CKEDITOR.instances['note_body'].on('contentDom', function() {
        CKEDITOR.instances['note_body'].document.on('keyup', function(e) {
        //$("#note_title").click(function(){
        //console.log(e.data.getKey());
        //i++;
        //if(i > 30){
        //command key = 91 esc ==27
        if(e.data.getKey() == 27){
          $.ajax({
            type: "POST",
            url: "/notes/push",
            data: "text="+escape(document.getElementsByTagName('iframe')[0].contentWindow.document.body.innerHTML),
            success: function() {}
          });
        //i=0;
        }
      });
    }); 
  </script>