<h1>Listing notes</h1>


<div class="row">
  <% @short_titles_bodies.each do |note|%>
    <div class="col-md-3">
      <%= note.title %>
      <div class="jumbotron">
        <%= note.body.html_safe %>
      </div>
    </div>
  <% end %>
</div>

    <!--
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>

      <tr>
        <td><%= note.title %></td>
        <td><%= raw(note.body) %></td>
        <td><%= note.date.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    -->

<br>
<p><%= link_to '新規作成', new_note_path, :class => "btn btn-primary" %></p>

