<h1>Listing notes</h1>
<%= form_tag notes_path, :method => 'get' do %>
  <div class="row">
    <div class="col-md-3">
      <div class="input-group form-search">
          <%= text_field_tag :search, params[:search], :class => "form-control search-query" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, class: "btn btn-primary", :'data-type' => :last %>
          </span>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% @notes.each do |note|%>
    <div class="col-md-3">
      <%= note.title %>
      <div class="jumbotron">
        <%= note.body.html_safe %>
      </div>
    </div>
  <% end %>
</div>

<br>
<p><%= link_to '新規作成', new_note_path, :class => "btn btn-primary" %></p>
      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= raw(note.body) %></td>
            <td><%= note.date.strftime('%Y-%m-%d %H:%M') %></td>
            <td><%= link_to 'Show', note %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <p><%= link_to '新規作成', new_note_path, :class => "btn btn-primary" %></p>
  </div>
</div>
