<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Title:</strong>
      <%= @note.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= raw @note.body %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @note.date %>
    </p>
  </div>
</div>
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
