<h2>メールアドレス＆パスワード変更</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row well col-md-6">
    <%= devise_error_messages! %>
    <form class="form-horizontal">
      <div class="row form-group">
        <div class="col-md-11">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row form-group">
        <div class="col-md-11">
          <%= f.label :パスワード %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-11">
          <%= f.label :パスワード確認 %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-11">
          <%= f.label :現在のパスワード %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div><%= f.submit "更新", class: "btn btn-primary" %></div>
    </div>
  </div>
<% end %>

<h3>アカウント管理</h3>
<div class="row">
  <div class="col-md-9">
    <%= button_to "アカウント消去", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
<%= link_to "Back", :back %>
