<p id="notice"><%= notice %></p>
<h1><%= @group.name + ' members'%></h1>
<div class="row">
  <div class="col-md-6">
    <h3>Members</h3>
      <div class="well">
        <% @group.users.each do |member| %>
          <%= link_to member.email, rails_admin_path %>
          <br>
        <% end %>
      </div>
  </div>
</div>
<br>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
