<p id="notice"><%= notice %></p>
<h1><%= @group.name %></h1>
<div class = "row">
  <div class = "col-md-4">
    <div class = "panel panel-primary">
      <div class = "panel-heading">ノート一覧</div>
      <div class = "panel-body">
        <% @group.notes.each do |note| %>
          <%= link_to note.title, note_path(:id => note.id) %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4">
    <div class = "panel panel-primary">
      <div class = "panel-heading">メンバー</div>
      <div class = "panel-body">
        <% @group.users.each do |user| %>
          <%= link_to user.profile.name, profile_path(:id => user.id) %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
