<p id="notice"><%= notice %></p>
<h1><%= 'Listing '+ @group.name + ' members'%></h1>
<% @group.users.each do |member| %>
  <tr>
    <td><%= member.email %></td>
  </tr>
<% end %>

<br>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
